/* Rectangle 22 */

position: absolute;
width: 314px;
height: 383px;
left: 23px;
top: 114px;

background: #E8E8E8;
border-radius: 10px;


/* ⏎ */

position: absolute;
width: 127px;
height: 24px;
left: 53px;
top: 178px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;

color: #989090;



/* ⏎ */

position: absolute;
width: 93px;
height: 31px;
left: 53px;
top: 202px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;

color: #989090;



/* ⏎ */

position: absolute;
width: 127px;
height: 24px;
left: 53px;
top: 154px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;

color: #989090;



/* Ellipse 2 */

position: absolute;
width: 18px;
height: 18px;
left: 351px;
top: 124px;

background: #7CA7EB;


/* Ellipse 3 */

position: absolute;
width: 18px;
height: 18px;
left: 351px;
top: 129px;

background: #402924;


/* Ellipse 4 */

position: absolute;
width: 18px;
height: 18px;
left: 351px;
top: 134px;

background: #CBE290;


/* Ellipse 5 */

position: absolute;
width: 18px;
height: 18px;
left: 351px;
top: 138px;

background: #FFFFFF;


/* Ellipse 6 */

position: absolute;
width: 18px;
height: 18px;
left: 351px;
top: 142px;

background: #4F6815;


/* Ellipse 7 */

position: absolute;
width: 18px;
height: 18px;
left: 351px;
top: 146px;

background: #75070C;
opacity: 0.7;


/* Ellipse 8 */

position: absolute;
width: 18px;
height: 18px;
left: 351px;
top: 151px;

background: #FFEDAB;


/* Ellipse 9 */

position: absolute;
width: 18px;
height: 18px;
left: 351px;
top: 155px;

background: #000000;


/* IMG_3786 */

position: absolute;
width: 40px;
height: 40px;
left: 340px;
top: 202px;

background: url(IMG_3786.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* ... */

position: absolute;
width: 23px;
height: 16px;
left: 354px;
top: 151px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;

color: #FFFFFF;



/* IMG_3787 */

position: absolute;
width: 50px;
height: 50px;
left: 335px;
top: 271px;

background: url(IMG_3787.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* IMG_3788 */

position: absolute;
width: 45px;
height: 45px;
left: 340px;
top: 350px;

background: url(IMG_3788.png);


/* IMG_3789 */

position: absolute;
width: 44px;
height: 44px;
left: 338px;
top: 424px;

background: url(IMG_3789.png);


/* Rectangle 23 */

position: absolute;
width: 75px;
height: 54px;
left: 277px;
top: 746px;

background: rgba(0, 0, 0, 0.8);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;


/* Arrow 1 */

box-sizing: border-box;

position: absolute;
width: 36px;
height: 0px;
left: 296px;
top: 773px;

border: 5px solid #FFFFFF;
